/* PC端 */
.layout {
	height: 100%;
  background-color: #f0f2f5;
  overflow: hidden;
}

.layout-header {
  height: 64px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
  padding: 0 8px;
}

.layout-sider {
  float: left;
  width: 200px;
  height: 100%;
  background-color: #001529;
}

.layout-sider__top {
  height: 64px;
}

.layout-sider__logo {
  width: 50px;
  height: 50px;
  position: relative;
  top: 50%;
  vertical-align: top;
  -webkit-transform: translateY(-50%) ;
          transform: translateY(-50%) ;
  -webkit-animation: layout-logo-spin infinite 20s linear;
          animation: layout-logo-spin infinite 20s linear;
}

.layout-sider__name {
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  background-color: #334454;
  color: rgba(255, 255, 255, .8);
  font-size: 16px;
  line-height: 32px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.layout-content {
  height: calc(100% - 64px);
  position: relative;
  overflow: auto;
}

.layout-container {
  height: calc(100% - 16px);
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  margin: 8px;
  position: relative;
  overflow: auto;
}

.layout-wrapper {
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  overflow: hidden;
}

@-webkit-keyframes layout-logo-spin {
  from {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  
  to {
    -webkit-transform: translateY(-50%) rotate(360deg);
            transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes layout-logo-spin {
  from {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  
  to {
    -webkit-transform: translateY(-50%) rotate(360deg);
            transform: translateY(-50%) rotate(360deg);
  }
}
.animation button {
  border: none;
  outline: none;
  padding: 4px 10px;
  margin-right: 10px;
  background-color: #77c111;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.animation button:active {
  opacity: 0.7;
}
.animation button:last-child {
  margin-right: 0;
}
.animation-fade-enter {
  opacity: 0.01;
}
.animation-fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}
.animation-fade-exit {
  opacity: 1;
}
.animation-fade-exit-active {
  opacity: 0.01;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.animation-slide-enter {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.animation-slide-enter-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.animation-slide-exit {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.animation-slide-exit-active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.animation-left-enter {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}
.animation-left-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 3000ms ease-in-out;
  transition: -webkit-transform 3000ms ease-in-out;
  transition: transform 3000ms ease-in-out;
  transition: transform 3000ms ease-in-out, -webkit-transform 3000ms ease-in-out;
}
.animation-left-exit {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.animation-left-exit-active {
  -webkit-transform: translateX(-26px);
          transform: translateX(-26px);
  -webkit-transition: -webkit-transform 3000ms ease-in-out;
  transition: -webkit-transform 3000ms ease-in-out;
  transition: transform 3000ms ease-in-out;
  transition: transform 3000ms ease-in-out, -webkit-transform 3000ms ease-in-out;
}
.animation-right-enter {
  margin-left: -10px;
}
.animation-right-enter-active {
  margin-left: 0;
  -webkit-transition: margin-left 500ms ease-in-out;
  transition: margin-left 500ms ease-in-out;
}
.animation-right-exit {
  margin-left: 0;
}
.animation-right-exit-active {
  margin-left: 10px;
  -webkit-transition: margin-left 500ms ease-in-out;
  transition: margin-left 500ms ease-in-out;
}

.css-transition__box {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #D50020;
  overflow: hidden;
}
.css-transition__text {
  color: #D50020;
  font-size: 50px;
  text-align: center;
}

.animation-wrapper {
  min-height: 100px;
  margin: 15px;
  padding: 15px;
  border: 1px solid orangered;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.animation-wrapper__title {
  color: #D50020;
  font-size: 24px;
  margin-bottom: 10px;
}

.switch-transition__container {
  margin: 30px;
  text-align: center;
}
.switch-transition__item {
  display: inline-block;
  margin: 4px;
  padding: 4px 8px;
  border: 1px solid #77c111;
  cursor: pointer;
}

.transition-group__list {
  margin: 30px;
  overflow: hidden;
}
.transition-group__list > li {
  float: left;
  margin: 4px;
  padding: 4px;
  border: 1px solid #77c111;
  cursor: pointer;
}

.CSSModuleTransition-module__animation-spread-enter--1b2e7 {
  height: 150px;
}
.CSSModuleTransition-module__animation-spread-enter-active--14cae {
  height: 150px;
  -webkit-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}
.CSSModuleTransition-module__animation-spread-exit--60b10 {
  height: 150px;
}
.CSSModuleTransition-module__animation-spread-exit-active--b7cb4 {
  height: 150px;
  -webkit-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}

