* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #1890ff;
  --hover-color: #40a9ff;
  --active-color: #096dd9;
}

html {
  color: rgba(0, 0, 0, .85);
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body,
main,
#single-spa-application\:login,
.container {
  width: 100%;
  height: 100%;
}

.icon {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
}

.wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  border-radius: 4px;
  padding: 25px;
  width: 300px;
  background-color: rgba(255, 255, 255, .5);
}

.title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: 0;
  padding: 4px 11px;
  background-color: #fff;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  line-height: 1.5715;
  transition: all .3s;
}

.input-wrapper:hover {
  border-color: var(--hover-color);
  z-index: 1;
}

.input-wrapper__focused,
.input-wrapper:focus {
  border-color: var(--active-color);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
}

.input-icon {
  display: block;
  margin-right: 8px;
  width: 14px;
  height: 14px;
}

.input-icon .icon {
  display: block;
  fill: rgba(0, 0, 0, 0.25);
}

.input-inner {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0;
  height: 20px;
}

.login-button {
  position: relative;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
  padding: 4px 15px;
  width: 100%;
  height: 32px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  touch-action: manipulation;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  user-select: none;
  white-space: nowrap;
}

.login-button::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  box-shadow: 0 0 0 8px var(--primary-color);
  transition: .5s;
}

.login-button:hover {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}

.login-button:active {
  border-color: var(--active-color);
  background-color: var(--active-color);
}

.login-button:active::after {
  box-shadow: none;
  opacity: 1;
  transition: 0s; /*取消过渡*/
}
